.match-calendar{
    margin: 20px 0 0;

    .match-calendar-contents{

       
        
        .calendar-title{
            h2{
                font-weight: 600;
                text-transform: capitalize;
                text-align: center;
                margin-bottom: 20px;

            }
        }
        .dates{
            display: flex;
            overflow-x: scroll;

 

            @include respond-above(md){
                overflow-x: hidden;
            }
            @include respond-above(lg){
                max-width: 1300px;
                margin: 20px 0 0 190px;
            }
            
           

            .date{
                padding: 0 20px;
                text-align: center;
                h2{
                    color: grey;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                label{
                    display: block;
                    font-size: 12px;


                    @include respond-above(md){
                        font-size: 16px;
                    }
                    

                    &.imp-date{
                        color: $light;
                        background-color: $primary-color-tone;
                        padding: 2px 8px;
                        border-radius: 6px;
                    }
                }
                label + label {
                    margin-top: 10px;
                }
            }
        }
    }
}