// pre-set color tones
// champions-league: background: rgb(177,193,193);
// background: linear-gradient(211deg, rgba(177,193,193,1) 0%, rgba(246,18,37,1) 14%, rgba(77,255,255,1) 48%, rgba(0,8,142,1) 93%);


// colors 
$primary-color-tone: #141E61;
$secondary-color-tone: #FD3336;

$light: #fff;
$dark: #111;

// fonts
$main-font: 'Poppins', sans-serif;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-bold: 700;


